<div id="contact_container">
	<h3>Get in touch</h3>
	<form id="contact_form">
		<input type="text" name="_gotcha" style="display:none" />
		<input type="hidden" name="_subject" value="Contact" />
		<div class="form_row">
		    <input type="text" name="name" placeholder="Your name">
		</div>
		<div class="form_row">
		    <input type="email" name="_replyto" placeholder="Your email">
		</div>
		<div class="form_row text">
		    <textarea name="message" placeholder="Your message"></textarea>
		</div>
		<div class="form_row">
		    <input type="submit" value="Send">
		</div>
	</form>
</div>
<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
<script src="/js/contact_form.js"></script>