#contact_form, .form_row, .form_row>input, .form_row>textarea {
	width: 100%;
}

.form_row_bordered {
	height: 50px;
	border-bottom: 1px solid #eeeeee;
}

.text {
	height: 150px;	
}

.form_row>input, .form_row>textarea {
	height: 100%;
}

.form_row>textarea {
	resize: none;
}

.form_row>input, .form_row>textarea {
	border: none;
	padding: 5px;
}

.contact-form-button {
	background-color:#eeeeee;
	color:#696969;
	font-family:'Helvetica Neue',sans-serif;
	font-size:18px;
	line-height:30px;
	border-radius:20px;
	-webkit-border-radius:20px;
	-moz-border-radius:20px;
	border:0;
	text-shadow:#777777 0 -1px 0;
}  